In [1]:
print("Hi")

Hi

In [3]:
!pip install pandas

Collecting pandas
  Downloading pandas-2.2.0-cp312-cp312-win_amd64.whl.metadata (19 kB)
Requirement already satisfied: numpy<2,>=1.26.0 in c:\python312\lib\site-packages (from pandas) (1.26.2)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\python312\lib\site-packages (from pandas) (2.8.2)
Collecting pytz>=2020.1 (from pandas)
  Downloading pytz-2023.3.post1-py2.py3-none-any.whl.metadata (22 kB)
Collecting tzdata>=2022.7 (from pandas)
  Downloading tzdata-2023.4-py2.py3-none-any.whl.metadata (1.4 kB)
Requirement already satisfied: six>=1.5 in c:\python312\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Downloading pandas-2.2.0-cp312-cp312-win_amd64.whl (11.5 MB)
   ---------------------------------------- 0.0/11.5 MB ? eta -:--:--
   ---------------------------------------- 0.0/11.5 MB 991.0 kB/s eta 0:00:12
    --------------------------------------- 0.2/11.5 MB 2.5 MB/s eta 0:00:05
   -- ------------------------------------- 0.6/11.5 MB 4.1 MB/s eta 0:00:03
   ----- ---------------------------------- 1.4/11.5 MB 7.6 MB/s eta 0:00:02
   ----------- ---------------------------- 3.4/11.5 MB 14.4 MB/s eta 0:00:01
   --------------------- ------------------ 6.2/11.5 MB 21.9 MB/s eta 0:00:01
   ------------------------------ --------- 8.6/11.5 MB 27.5 MB/s eta 0:00:01
   ------------------------------ --------- 8.6/11.5 MB 27.5 MB/s eta 0:00:01
   ---------------------------------------- 11.5/11.5 MB 43.7 MB/s eta 0:00:00
Downloading pytz-2023.3.post1-py2.py3-none-any.whl (502 kB)
   ---------------------------------------- 0.0/502.5 kB ? eta -:--:--
   ---------------------------------------- 502.5/502.5 kB ? eta 0:00:00
Downloading tzdata-2023.4-py2.py3-none-any.whl (346 kB)
   ---------------------------------------- 0.0/346.6 kB ? eta -:--:--
   ---------------------------------------- 346.6/346.6 kB ? eta 0:00:00
Installing collected packages: pytz, tzdata, pandas
Successfully installed pandas-2.2.0 pytz-2023.3.post1 tzdata-2023.4

In [4]:
!pip install numpy

Requirement already satisfied: numpy in c:\python312\lib\site-packages (1.26.2)

In [9]:
!pip install openpyxl

Collecting openpyxl
  Downloading openpyxl-3.1.2-py2.py3-none-any.whl (249 kB)
     ---------------------------------------- 0.0/250.0 kB ? eta -:--:--
     --- --------------------------------- 20.5/250.0 kB 330.3 kB/s eta 0:00:01
     ------ ------------------------------ 41.0/250.0 kB 495.5 kB/s eta 0:00:01
     -------------- --------------------- 102.4/250.0 kB 737.3 kB/s eta 0:00:01
     -------------------------------------- 250.0/250.0 kB 1.5 MB/s eta 0:00:00
Collecting et-xmlfile (from openpyxl)
  Downloading et_xmlfile-1.1.0-py3-none-any.whl (4.7 kB)
Installing collected packages: et-xmlfile, openpyxl
Successfully installed et-xmlfile-1.1.0 openpyxl-3.1.2

In [52]:
!pip install watermark

Collecting watermark
  Downloading watermark-2.4.3-py2.py3-none-any.whl.metadata (1.4 kB)
Requirement already satisfied: ipython>=6.0 in c:\python312\lib\site-packages (from watermark) (8.20.0)
Collecting importlib-metadata>=1.4 (from watermark)
  Downloading importlib_metadata-7.0.1-py3-none-any.whl.metadata (4.9 kB)
Requirement already satisfied: setuptools in c:\python312\lib\site-packages (from watermark) (69.0.2)
Collecting zipp>=0.5 (from importlib-metadata>=1.4->watermark)
  Downloading zipp-3.17.0-py3-none-any.whl.metadata (3.7 kB)
Requirement already satisfied: decorator in c:\python312\lib\site-packages (from ipython>=6.0->watermark) (5.1.1)
Requirement already satisfied: jedi>=0.16 in c:\python312\lib\site-packages (from ipython>=6.0->watermark) (0.19.1)
Requirement already satisfied: matplotlib-inline in c:\python312\lib\site-packages (from ipython>=6.0->watermark) (0.1.6)
Requirement already satisfied: prompt-toolkit<3.1.0,>=3.0.41 in c:\python312\lib\site-packages (from ipython>=6.0->watermark) (3.0.43)
Requirement already satisfied: pygments>=2.4.0 in c:\python312\lib\site-packages (from ipython>=6.0->watermark) (2.17.2)
Requirement already satisfied: stack-data in c:\python312\lib\site-packages (from ipython>=6.0->watermark) (0.6.3)
Requirement already satisfied: traitlets>=5 in c:\python312\lib\site-packages (from ipython>=6.0->watermark) (5.14.1)
Requirement already satisfied: colorama in c:\python312\lib\site-packages (from ipython>=6.0->watermark) (0.4.6)
Requirement already satisfied: parso<0.9.0,>=0.8.3 in c:\python312\lib\site-packages (from jedi>=0.16->ipython>=6.0->watermark) (0.8.3)
Requirement already satisfied: wcwidth in c:\python312\lib\site-packages (from prompt-toolkit<3.1.0,>=3.0.41->ipython>=6.0->watermark) (0.2.13)
Requirement already satisfied: executing>=1.2.0 in c:\python312\lib\site-packages (from stack-data->ipython>=6.0->watermark) (2.0.1)
Requirement already satisfied: asttokens>=2.1.0 in c:\python312\lib\site-packages (from stack-data->ipython>=6.0->watermark) (2.4.1)
Requirement already satisfied: pure-eval in c:\python312\lib\site-packages (from stack-data->ipython>=6.0->watermark) (0.2.2)
Requirement already satisfied: six>=1.12.0 in c:\python312\lib\site-packages (from asttokens>=2.1.0->stack-data->ipython>=6.0->watermark) (1.16.0)
Downloading watermark-2.4.3-py2.py3-none-any.whl (7.6 kB)
Downloading importlib_metadata-7.0.1-py3-none-any.whl (23 kB)
Downloading zipp-3.17.0-py3-none-any.whl (7.4 kB)
Installing collected packages: zipp, importlib-metadata, watermark
Successfully installed importlib-metadata-7.0.1 watermark-2.4.3 zipp-3.17.0

In [6]:
import pandas as pd

In [7]:
import numpy as np

In [10]:
xlsx = pd.ExcelFile("Local Copy of Road Network.xlsx")

In [11]:
edges = pd.read_excel(xlsx, "Edges")

In [12]:
locations=pd.read_excel(xlsx,"Locations")

In [13]:
edges

,edgeLabel,locationA,locationB,actualDistance,Contributer,Notes
0,Nashville_tofrom_Jackson_on_I40,NashvilleTN,JacksonTN,129.0,IT,IT = the instructional team
1,Jackson_tofrom_Memphis_on_I40,JacksonTN,MemphisTN,88.0,IT,NaN
2,Nashville_tofrom_BowlingGreen_on_I65,NashvilleTN,BowlingGreenKY,66.0,IT,NaN
3,Louisville_tofrom_BowlingGreen_on_I65,LouisvilleKY,BowlingGreenKY,117.0,IT,NaN
4,Indianapolis_tofrom_Louisville,IndianapolisIN,LouisvilleKY,114.0,IT,NaN
...,...,...,...,...,...,...
419,FayettevilleTN_tofrom_AthensAL,FayettevilleTN,AthensAL,49.0,IT,NaN
420,AthensAL_tofrom_HuntsvilleAL,AthensAL,HuntsvilleAL,34.0,IT,NaN
421,Dallas_tofrom_Austin,DallasTX,AustinTX,197.0,IT,NaN
422,Austin_tofrom_ArtesiaWells,AustinTX,ArtesiaWellsTX,179.0,IT,NaN
423,ArtesiaWells_tofrom_Monterrey,ArtesiaWellsTX,MonterreyNLMexico,194.0,IT,NaN

In [16]:
edges.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 424 entries, 0 to 423
Data columns (total 6 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   edgeLabel       424 non-null    object
 1   locationA       424 non-null    object
 2   locationB       424 non-null    object
 3   actualDistance  424 non-null    float64
 4   Contributer     424 non-null    object
 5   Notes           3 non-null      object
dtypes: float64(1), object(5)
memory usage: 20.0+ KB

In [40]:
size_loc=len(locations)

In [41]:
size_loc

248

In [50]:
np.random.seed(seed=3)

In [43]:
 location_preference_assignments=np.random.uniform(low=0.0,high=1.0,size=size_loc)

In [ ]:
#mke a func#

In [42]:
size_edge=len(edges)

In [44]:
 edge_preference_assignments =np.random.uniform(low=0.0,high=0.1,size=size_edge)

In [38]:
len(edges)

424

In [48]:
edges["Preference"]= edge_preference_assignments

In [46]:
locations['Preference']=location_preference_assignments

In [47]:
locations.head()

,Location Label,Latitude,Longitude,Contributer,Notes,preference
0,NashvilleTN,36.174465,-86.767960,IT,IT = the instructional team,0.718007
1,MemphisTN,35.117500,-89.971107,IT,NaN,0.354408
2,JacksonTN,35.614517,-88.813947,IT,NaN,0.460413
3,SanJoseCA,37.338700,-121.885250,IT,NaN,0.619765
4,LouisvilleKY,38.252660,-85.758450,IT,NaN,0.068034

In [49]:
edges.head()

,edgeLabel,locationA,locationB,actualDistance,Contributer,Notes,Preference
0,Nashville_tofrom_Jackson_on_I40,NashvilleTN,JacksonTN,129.0,IT,IT = the instructional team,0.055231
1,Jackson_tofrom_Memphis_on_I40,JacksonTN,MemphisTN,88.0,IT,NaN,0.082222
2,Nashville_tofrom_BowlingGreen_on_I65,NashvilleTN,BowlingGreenKY,66.0,IT,NaN,0.091915
3,Louisville_tofrom_BowlingGreen_on_I65,LouisvilleKY,BowlingGreenKY,117.0,IT,NaN,0.082179
4,Indianapolis_tofrom_Louisville,IndianapolisIN,LouisvilleKY,114.0,IT,NaN,0.028665

In [67]:
%watermark --iversions

numpy : 1.26.2
pandas: 2.2.0

In [66]:
%load_ext watermark
%watermark -v -m -p wget,pandas,numpy,openpyxl,watermark 
#needpackages and version
print("")
%watermark -u -n -t -z

The watermark extension is already loaded. To reload it, use:
  %reload_ext watermark
Python implementation: CPython
Python version       : 3.12.0
IPython version      : 8.20.0

wget     : not installed
pandas   : 2.2.0
numpy    : 1.26.2
openpyxl : 3.1.2
watermark: 2.4.3

Compiler    : MSC v.1935 64 bit (AMD64)
OS          : Windows
Release     : 11
Machine     : AMD64
Processor   : Intel64 Family 6 Model 186 Stepping 3, GenuineIntel
CPU cores   : 12
Architecture: 64bit


Last updated: Fri Jan 26 2024 14:46:56Central Standard Time