In [1]:
print("Hi")

Hi

In [2]:
!pip install pandas

Collecting pandas
  Obtaining dependency information for pandas from https://files.pythonhosted.org/packages/b3/b3/3102c3a4abca1093e50cfec2213102a1c65c0b318a4431395d0121e6e690/pandas-2.2.0-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl.metadata
  Downloading pandas-2.2.0-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl.metadata (19 kB)
Collecting numpy<2,>=1.22.4 (from pandas)
  Obtaining dependency information for numpy<2,>=1.22.4 from https://files.pythonhosted.org/packages/a5/37/d1453c9ff4f7630e68ec036c6fb56ba0d7c769daa8a4083cb4ef8ee45995/numpy-1.26.3-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl.metadata
  Downloading numpy-1.26.3-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl.metadata (61 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 61.2/61.2 kB 1.0 MB/s eta 0:00:00a 0:00:01
Requirement already satisfied: python-dateutil>=2.8.2 in /srv/conda/envs/notebook/lib/python3.10/site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /srv/conda/envs/notebook/lib/python3.10/site-packages (from pandas) (2023.3.post1)
Collecting tzdata>=2022.7 (from pandas)
  Obtaining dependency information for tzdata>=2022.7 from https://files.pythonhosted.org/packages/a3/fb/52b62131e21b24ee297e4e95ed41eba29647dad0e0051a92bb66b43c70ff/tzdata-2023.4-py2.py3-none-any.whl.metadata
  Downloading tzdata-2023.4-py2.py3-none-any.whl.metadata (1.4 kB)
Requirement already satisfied: six>=1.5 in /srv/conda/envs/notebook/lib/python3.10/site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Downloading pandas-2.2.0-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (13.0 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 13.0/13.0 MB 23.6 MB/s eta 0:00:0000:0100:01
Downloading numpy-1.26.3-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (18.2 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 18.2/18.2 MB 18.3 MB/s eta 0:00:0000:0100:01
Downloading tzdata-2023.4-py2.py3-none-any.whl (346 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 346.6/346.6 kB 29.2 MB/s eta 0:00:00
Installing collected packages: tzdata, numpy, pandas
Successfully installed numpy-1.26.3 pandas-2.2.0 tzdata-2023.4

In [3]:
!pip install numpy

Requirement already satisfied: numpy in /srv/conda/envs/notebook/lib/python3.10/site-packages (1.26.3)

In [4]:
!pip install openpyxl

Collecting openpyxl
  Downloading openpyxl-3.1.2-py2.py3-none-any.whl (249 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 250.0/250.0 kB 3.0 MB/s eta 0:00:0000:0100:01
Collecting et-xmlfile (from openpyxl)
  Downloading et_xmlfile-1.1.0-py3-none-any.whl (4.7 kB)
Installing collected packages: et-xmlfile, openpyxl
Successfully installed et-xmlfile-1.1.0 openpyxl-3.1.2

In [5]:
!pip install watermark

Collecting watermark
  Obtaining dependency information for watermark from https://files.pythonhosted.org/packages/67/ee/32fec350c20ff060064d058c37df53dd1fad74dfea9532faf2868b0512b5/watermark-2.4.3-py2.py3-none-any.whl.metadata
  Downloading watermark-2.4.3-py2.py3-none-any.whl.metadata (1.4 kB)
Requirement already satisfied: ipython>=6.0 in /srv/conda/envs/notebook/lib/python3.10/site-packages (from watermark) (8.16.1)
Requirement already satisfied: importlib-metadata>=1.4 in /srv/conda/envs/notebook/lib/python3.10/site-packages (from watermark) (6.8.0)
Requirement already satisfied: setuptools in /srv/conda/envs/notebook/lib/python3.10/site-packages (from watermark) (68.2.2)
Requirement already satisfied: zipp>=0.5 in /srv/conda/envs/notebook/lib/python3.10/site-packages (from importlib-metadata>=1.4->watermark) (3.17.0)
Requirement already satisfied: backcall in /srv/conda/envs/notebook/lib/python3.10/site-packages (from ipython>=6.0->watermark) (0.2.0)
Requirement already satisfied: decorator in /srv/conda/envs/notebook/lib/python3.10/site-packages (from ipython>=6.0->watermark) (5.1.1)
Requirement already satisfied: jedi>=0.16 in /srv/conda/envs/notebook/lib/python3.10/site-packages (from ipython>=6.0->watermark) (0.19.1)
Requirement already satisfied: matplotlib-inline in /srv/conda/envs/notebook/lib/python3.10/site-packages (from ipython>=6.0->watermark) (0.1.6)
Requirement already satisfied: pickleshare in /srv/conda/envs/notebook/lib/python3.10/site-packages (from ipython>=6.0->watermark) (0.7.5)
Requirement already satisfied: prompt-toolkit!=3.0.37,<3.1.0,>=3.0.30 in /srv/conda/envs/notebook/lib/python3.10/site-packages (from ipython>=6.0->watermark) (3.0.39)
Requirement already satisfied: pygments>=2.4.0 in /srv/conda/envs/notebook/lib/python3.10/site-packages (from ipython>=6.0->watermark) (2.16.1)
Requirement already satisfied: stack-data in /srv/conda/envs/notebook/lib/python3.10/site-packages (from ipython>=6.0->watermark) (0.6.2)
Requirement already satisfied: traitlets>=5 in /srv/conda/envs/notebook/lib/python3.10/site-packages (from ipython>=6.0->watermark) (5.11.2)
Requirement already satisfied: exceptiongroup in /srv/conda/envs/notebook/lib/python3.10/site-packages (from ipython>=6.0->watermark) (1.1.3)
Requirement already satisfied: pexpect>4.3 in /srv/conda/envs/notebook/lib/python3.10/site-packages (from ipython>=6.0->watermark) (4.8.0)
Requirement already satisfied: parso<0.9.0,>=0.8.3 in /srv/conda/envs/notebook/lib/python3.10/site-packages (from jedi>=0.16->ipython>=6.0->watermark) (0.8.3)
Requirement already satisfied: ptyprocess>=0.5 in /srv/conda/envs/notebook/lib/python3.10/site-packages (from pexpect>4.3->ipython>=6.0->watermark) (0.7.0)
Requirement already satisfied: wcwidth in /srv/conda/envs/notebook/lib/python3.10/site-packages (from prompt-toolkit!=3.0.37,<3.1.0,>=3.0.30->ipython>=6.0->watermark) (0.2.8)
Requirement already satisfied: executing>=1.2.0 in /srv/conda/envs/notebook/lib/python3.10/site-packages (from stack-data->ipython>=6.0->watermark) (1.2.0)
Requirement already satisfied: asttokens>=2.1.0 in /srv/conda/envs/notebook/lib/python3.10/site-packages (from stack-data->ipython>=6.0->watermark) (2.4.0)
Requirement already satisfied: pure-eval in /srv/conda/envs/notebook/lib/python3.10/site-packages (from stack-data->ipython>=6.0->watermark) (0.2.2)
Requirement already satisfied: six>=1.12.0 in /srv/conda/envs/notebook/lib/python3.10/site-packages (from asttokens>=2.1.0->stack-data->ipython>=6.0->watermark) (1.16.0)
Downloading watermark-2.4.3-py2.py3-none-any.whl (7.6 kB)
Installing collected packages: watermark
Successfully installed watermark-2.4.3

In [6]:
import pandas as pd

/tmp/ipykernel_98/4080736814.py:1: DeprecationWarning:
Pyarrow will become a required dependency of pandas in the next major release of pandas (pandas 3.0),
(to allow more performant data types, such as the Arrow string type, and better interoperability with other libraries)
but was not found to be installed on your system.
If this would cause problems for you,
please provide us feedback at https://github.com/pandas-dev/pandas/issues/54466

  import pandas as pd

In [7]:
import numpy as np

In [8]:
xlsx = pd.ExcelFile("Local Copy of Road Network.xlsx")

In [9]:
edges = pd.read_excel(xlsx, "Edges")

In [10]:
locations=pd.read_excel(xlsx,"Locations")

In [11]:
edges

,edgeLabel,locationA,locationB,actualDistance,Contributer,Notes
0,Nashville_tofrom_Jackson_on_I40,NashvilleTN,JacksonTN,129.0,IT,IT = the instructional team
1,Jackson_tofrom_Memphis_on_I40,JacksonTN,MemphisTN,88.0,IT,NaN
2,Nashville_tofrom_BowlingGreen_on_I65,NashvilleTN,BowlingGreenKY,66.0,IT,NaN
3,Louisville_tofrom_BowlingGreen_on_I65,LouisvilleKY,BowlingGreenKY,117.0,IT,NaN
4,Indianapolis_tofrom_Louisville,IndianapolisIN,LouisvilleKY,114.0,IT,NaN
...,...,...,...,...,...,...
419,FayettevilleTN_tofrom_AthensAL,FayettevilleTN,AthensAL,49.0,IT,NaN
420,AthensAL_tofrom_HuntsvilleAL,AthensAL,HuntsvilleAL,34.0,IT,NaN
421,Dallas_tofrom_Austin,DallasTX,AustinTX,197.0,IT,NaN
422,Austin_tofrom_ArtesiaWells,AustinTX,ArtesiaWellsTX,179.0,IT,NaN
423,ArtesiaWells_tofrom_Monterrey,ArtesiaWellsTX,MonterreyNLMexico,194.0,IT,NaN

In [12]:
edges.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 424 entries, 0 to 423
Data columns (total 6 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   edgeLabel       424 non-null    object
 1   locationA       424 non-null    object
 2   locationB       424 non-null    object
 3   actualDistance  424 non-null    float64
 4   Contributer     424 non-null    object
 5   Notes           3 non-null      object
dtypes: float64(1), object(5)
memory usage: 20.0+ KB

In [13]:
size_loc=len(locations)

In [14]:
size_loc

248

In [15]:
np.random.seed(seed=3)

In [16]:
 location_preference_assignments=np.random.uniform(low=0.0,high=1.0,size=size_loc)

In [17]:
#mke a func#

In [18]:
size_edge=len(edges)

In [19]:
 edge_preference_assignments =np.random.uniform(low=0.0,high=0.1,size=size_edge)

In [20]:
len(edges)

424

In [21]:
edges["Preference"]= edge_preference_assignments

In [22]:
locations['Preference']=location_preference_assignments

In [23]:
locations.head()

,Location Label,Latitude,Longitude,Contributer,Notes,Preference
0,NashvilleTN,36.174465,-86.767960,IT,IT = the instructional team,0.550798
1,MemphisTN,35.117500,-89.971107,IT,NaN,0.708148
2,JacksonTN,35.614517,-88.813947,IT,NaN,0.290905
3,SanJoseCA,37.338700,-121.885250,IT,NaN,0.510828
4,LouisvilleKY,38.252660,-85.758450,IT,NaN,0.892947

In [24]:
edges.head()

,edgeLabel,locationA,locationB,actualDistance,Contributer,Notes,Preference
0,Nashville_tofrom_Jackson_on_I40,NashvilleTN,JacksonTN,129.0,IT,IT = the instructional team,0.029469
1,Jackson_tofrom_Memphis_on_I40,JacksonTN,MemphisTN,88.0,IT,NaN,0.098811
2,Nashville_tofrom_BowlingGreen_on_I65,NashvilleTN,BowlingGreenKY,66.0,IT,NaN,0.097122
3,Louisville_tofrom_BowlingGreen_on_I65,LouisvilleKY,BowlingGreenKY,117.0,IT,NaN,0.048185
4,Indianapolis_tofrom_Louisville,IndianapolisIN,LouisvilleKY,114.0,IT,NaN,0.073569

Creating a id for our dataset to allow us to easily tag roads and location

In [31]:
loc_id=np.array([i for i in range(1,size_loc+1)])

In [62]:
edge_id=np.array([i for i in range(1,size_edge+1)])

In [32]:
locations['id']=loc_id

In [63]:
edges['id']=edge_id

In [65]:
edges.head()

,edgeLabel,locationA,locationB,actualDistance,Contributer,Notes,Preference,id
0,Nashville_tofrom_Jackson_on_I40,NashvilleTN,JacksonTN,129.0,IT,IT = the instructional team,0.029469,1
1,Jackson_tofrom_Memphis_on_I40,JacksonTN,MemphisTN,88.0,IT,NaN,0.098811,2
2,Nashville_tofrom_BowlingGreen_on_I65,NashvilleTN,BowlingGreenKY,66.0,IT,NaN,0.097122,3
3,Louisville_tofrom_BowlingGreen_on_I65,LouisvilleKY,BowlingGreenKY,117.0,IT,NaN,0.048185,4
4,Indianapolis_tofrom_Louisville,IndianapolisIN,LouisvilleKY,114.0,IT,NaN,0.073569,5

In [33]:
locations.head()

,Location Label,Latitude,Longitude,Contributer,Notes,Preference,id
0,NashvilleTN,36.174465,-86.767960,IT,IT = the instructional team,0.550798,1
1,MemphisTN,35.117500,-89.971107,IT,NaN,0.708148,2
2,JacksonTN,35.614517,-88.813947,IT,NaN,0.290905,3
3,SanJoseCA,37.338700,-121.885250,IT,NaN,0.510828,4
4,LouisvilleKY,38.252660,-85.758450,IT,NaN,0.892947,5

How do we select elements of a certain id in pandas?

In [50]:
t=locations[locations['id']==1]['Preference']

In [51]:
t

0    0.550798
Name: Preference, dtype: float64

How do we select a row if we have a bunch of values of id ?

In [27]:
%watermark --iversions

numpy : 1.26.3
pandas: 2.2.0

In [52]:
ids=[1,2,3,4,5,6,7]

In [55]:
locations[locations['id'].isin(ids)]['Preference']

0    0.550798
1    0.708148
2    0.290905
3    0.510828
4    0.892947
5    0.896293
6    0.125585
Name: Preference, dtype: float64

we gotta sum the one up tho!!!

How do we select locations based on the edge ids??
get locids from edge ids???

In [57]:
col='id'

In [59]:
locations[locations[col].isin(ids)]

,Location Label,Latitude,Longitude,Contributer,Notes,Preference,id
0,NashvilleTN,36.174465,-86.767960,IT,IT = the instructional team,0.550798,1
1,MemphisTN,35.117500,-89.971107,IT,NaN,0.708148,2
2,JacksonTN,35.614517,-88.813947,IT,NaN,0.290905,3
3,SanJoseCA,37.338700,-121.885250,IT,NaN,0.510828,4
4,LouisvilleKY,38.252660,-85.758450,IT,NaN,0.892947,5
5,BowlingGreenKY,36.968520,-86.480800,IT,NaN,0.896293,6
6,IndianapolisIN,39.768400,-86.158060,IT,NaN,0.125585,7

we kinda found pref values for every data frame but this query has the potential to be optimized

total_preference() : 
takes values for a particular edge column : (like the labels for the visited edges), 
and the column name : (shuld be in edge)
it returns the : tot_pref=edge_pref+start_loc_pref+end_loc_pref; for every value associated with the column

In [78]:
def total_preference(values,col):
    edges_considered=edges[edges[col].isin(values)]    
    return sum(edges_considered['Preference'])+sum(locations[locations['Location Label'].isin(pd.concat([edges_considered['locationA'], edges_considered['locationB']], axis=0))]['Preference'])

In [79]:
total_preference(ids,col)

4.286155064621903

In [26]:
%load_ext watermark
%watermark -v -m -p wget,pandas,numpy,openpyxl,watermark 
#needpackages and version
print("")
%watermark -u -n -t -z

Python implementation: CPython
Python version       : 3.10.12
IPython version      : 8.16.1

wget     : not installed
pandas   : 2.2.0
numpy    : 1.26.3
openpyxl : 3.1.2
watermark: 2.4.3

Compiler    : GCC 12.3.0
OS          : Linux
Release     : 5.15.0-79-generic
Machine     : x86_64
Processor   : x86_64
CPU cores   : 72
Architecture: 64bit


Last updated: Fri Jan 26 2024 23:56:07UTC