In [1]:
print("Hi")

Hi

In [1]:
!pip install pandas

Requirement already satisfied: pandas in c:\python312\lib\site-packages (2.2.0)
Requirement already satisfied: numpy<2,>=1.26.0 in c:\python312\lib\site-packages (from pandas) (1.26.2)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\python312\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\python312\lib\site-packages (from pandas) (2023.3.post1)
Requirement already satisfied: tzdata>=2022.7 in c:\python312\lib\site-packages (from pandas) (2023.4)
Requirement already satisfied: six>=1.5 in c:\python312\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

In [2]:
!pip install numpy

Requirement already satisfied: numpy in c:\python312\lib\site-packages (1.26.2)

In [3]:
!pip install openpyxl

Requirement already satisfied: openpyxl in c:\python312\lib\site-packages (3.1.2)
Requirement already satisfied: et-xmlfile in c:\python312\lib\site-packages (from openpyxl) (1.1.0)

In [4]:
!pip install watermark

Requirement already satisfied: watermark in c:\python312\lib\site-packages (2.4.3)
Requirement already satisfied: ipython>=6.0 in c:\python312\lib\site-packages (from watermark) (8.20.0)
Requirement already satisfied: importlib-metadata>=1.4 in c:\python312\lib\site-packages (from watermark) (7.0.1)
Requirement already satisfied: setuptools in c:\python312\lib\site-packages (from watermark) (69.0.2)
Requirement already satisfied: zipp>=0.5 in c:\python312\lib\site-packages (from importlib-metadata>=1.4->watermark) (3.17.0)
Requirement already satisfied: decorator in c:\python312\lib\site-packages (from ipython>=6.0->watermark) (5.1.1)
Requirement already satisfied: jedi>=0.16 in c:\python312\lib\site-packages (from ipython>=6.0->watermark) (0.19.1)
Requirement already satisfied: matplotlib-inline in c:\python312\lib\site-packages (from ipython>=6.0->watermark) (0.1.6)
Requirement already satisfied: prompt-toolkit<3.1.0,>=3.0.41 in c:\python312\lib\site-packages (from ipython>=6.0->watermark) (3.0.43)
Requirement already satisfied: pygments>=2.4.0 in c:\python312\lib\site-packages (from ipython>=6.0->watermark) (2.17.2)
Requirement already satisfied: stack-data in c:\python312\lib\site-packages (from ipython>=6.0->watermark) (0.6.3)
Requirement already satisfied: traitlets>=5 in c:\python312\lib\site-packages (from ipython>=6.0->watermark) (5.14.1)
Requirement already satisfied: colorama in c:\python312\lib\site-packages (from ipython>=6.0->watermark) (0.4.6)
Requirement already satisfied: parso<0.9.0,>=0.8.3 in c:\python312\lib\site-packages (from jedi>=0.16->ipython>=6.0->watermark) (0.8.3)
Requirement already satisfied: wcwidth in c:\python312\lib\site-packages (from prompt-toolkit<3.1.0,>=3.0.41->ipython>=6.0->watermark) (0.2.13)
Requirement already satisfied: executing>=1.2.0 in c:\python312\lib\site-packages (from stack-data->ipython>=6.0->watermark) (2.0.1)
Requirement already satisfied: asttokens>=2.1.0 in c:\python312\lib\site-packages (from stack-data->ipython>=6.0->watermark) (2.4.1)
Requirement already satisfied: pure-eval in c:\python312\lib\site-packages (from stack-data->ipython>=6.0->watermark) (0.2.2)
Requirement already satisfied: six>=1.12.0 in c:\python312\lib\site-packages (from asttokens>=2.1.0->stack-data->ipython>=6.0->watermark) (1.16.0)

In [5]:
import pandas as pd

C:\Users\amarn\AppData\Local\Temp\ipykernel_40152\4080736814.py:1: DeprecationWarning:
Pyarrow will become a required dependency of pandas in the next major release of pandas (pandas 3.0),
(to allow more performant data types, such as the Arrow string type, and better interoperability with other libraries)
but was not found to be installed on your system.
If this would cause problems for you,
please provide us feedback at https://github.com/pandas-dev/pandas/issues/54466

  import pandas as pd

In [6]:
import numpy as np

In [7]:
xlsx = pd.ExcelFile("Local Copy of Road Network.xlsx")

In [8]:
edges = pd.read_excel(xlsx, "Edges")

In [9]:
locations=pd.read_excel(xlsx,"Locations")

In [11]:
locations.to_csv("LocFile.csv")

In [12]:
edges.to_csv("EdgeFile.csv")

In [11]:
edges

,edgeLabel,locationA,locationB,actualDistance,Contributer,Notes
0,Nashville_tofrom_Jackson_on_I40,NashvilleTN,JacksonTN,129.0,IT,IT = the instructional team
1,Jackson_tofrom_Memphis_on_I40,JacksonTN,MemphisTN,88.0,IT,NaN
2,Nashville_tofrom_BowlingGreen_on_I65,NashvilleTN,BowlingGreenKY,66.0,IT,NaN
3,Louisville_tofrom_BowlingGreen_on_I65,LouisvilleKY,BowlingGreenKY,117.0,IT,NaN
4,Indianapolis_tofrom_Louisville,IndianapolisIN,LouisvilleKY,114.0,IT,NaN
...,...,...,...,...,...,...
419,FayettevilleTN_tofrom_AthensAL,FayettevilleTN,AthensAL,49.0,IT,NaN
420,AthensAL_tofrom_HuntsvilleAL,AthensAL,HuntsvilleAL,34.0,IT,NaN
421,Dallas_tofrom_Austin,DallasTX,AustinTX,197.0,IT,NaN
422,Austin_tofrom_ArtesiaWells,AustinTX,ArtesiaWellsTX,179.0,IT,NaN
423,ArtesiaWells_tofrom_Monterrey,ArtesiaWellsTX,MonterreyNLMexico,194.0,IT,NaN

In [12]:
edges.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 424 entries, 0 to 423
Data columns (total 6 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   edgeLabel       424 non-null    object
 1   locationA       424 non-null    object
 2   locationB       424 non-null    object
 3   actualDistance  424 non-null    float64
 4   Contributer     424 non-null    object
 5   Notes           3 non-null      object
dtypes: float64(1), object(5)
memory usage: 20.0+ KB

In [13]:
size_loc=len(locations)

In [14]:
size_loc

248

In [15]:
np.random.seed(seed=3)

In [16]:
 location_preference_assignments=np.random.uniform(low=0.0,high=1.0,size=size_loc)

In [17]:
#mke a func#

In [18]:
size_edge=len(edges)

In [19]:
 edge_preference_assignments =np.random.uniform(low=0.0,high=0.1,size=size_edge)

In [20]:
len(edges)

424

In [21]:
edges["Preference"]= edge_preference_assignments

In [22]:
locations['Preference']=location_preference_assignments

In [23]:
locations.head()

,Location Label,Latitude,Longitude,Contributer,Notes,Preference
0,NashvilleTN,36.174465,-86.767960,IT,IT = the instructional team,0.550798
1,MemphisTN,35.117500,-89.971107,IT,NaN,0.708148
2,JacksonTN,35.614517,-88.813947,IT,NaN,0.290905
3,SanJoseCA,37.338700,-121.885250,IT,NaN,0.510828
4,LouisvilleKY,38.252660,-85.758450,IT,NaN,0.892947

In [24]:
edges.head()

,edgeLabel,locationA,locationB,actualDistance,Contributer,Notes,Preference
0,Nashville_tofrom_Jackson_on_I40,NashvilleTN,JacksonTN,129.0,IT,IT = the instructional team,0.029469
1,Jackson_tofrom_Memphis_on_I40,JacksonTN,MemphisTN,88.0,IT,NaN,0.098811
2,Nashville_tofrom_BowlingGreen_on_I65,NashvilleTN,BowlingGreenKY,66.0,IT,NaN,0.097122
3,Louisville_tofrom_BowlingGreen_on_I65,LouisvilleKY,BowlingGreenKY,117.0,IT,NaN,0.048185
4,Indianapolis_tofrom_Louisville,IndianapolisIN,LouisvilleKY,114.0,IT,NaN,0.073569

Creating a id for our dataset to allow us to easily tag roads and location

In [25]:
loc_id=np.array([i for i in range(1,size_loc+1)])

In [26]:
edge_id=np.array([i for i in range(1,size_edge+1)])

In [27]:
locations['id']=loc_id

In [28]:
edges['id']=edge_id

In [29]:
edges.head()

,edgeLabel,locationA,locationB,actualDistance,Contributer,Notes,Preference,id
0,Nashville_tofrom_Jackson_on_I40,NashvilleTN,JacksonTN,129.0,IT,IT = the instructional team,0.029469,1
1,Jackson_tofrom_Memphis_on_I40,JacksonTN,MemphisTN,88.0,IT,NaN,0.098811,2
2,Nashville_tofrom_BowlingGreen_on_I65,NashvilleTN,BowlingGreenKY,66.0,IT,NaN,0.097122,3
3,Louisville_tofrom_BowlingGreen_on_I65,LouisvilleKY,BowlingGreenKY,117.0,IT,NaN,0.048185,4
4,Indianapolis_tofrom_Louisville,IndianapolisIN,LouisvilleKY,114.0,IT,NaN,0.073569,5

In [30]:
locations.head()

,Location Label,Latitude,Longitude,Contributer,Notes,Preference,id
0,NashvilleTN,36.174465,-86.767960,IT,IT = the instructional team,0.550798,1
1,MemphisTN,35.117500,-89.971107,IT,NaN,0.708148,2
2,JacksonTN,35.614517,-88.813947,IT,NaN,0.290905,3
3,SanJoseCA,37.338700,-121.885250,IT,NaN,0.510828,4
4,LouisvilleKY,38.252660,-85.758450,IT,NaN,0.892947,5

How do we select elements of a certain id in pandas?

In [31]:
t=locations[locations['id']==1]['Preference']

In [32]:
t

0    0.550798
Name: Preference, dtype: float64

How do we select a row if we have a bunch of values of id ?

In [33]:
ids=[1,2,3,4,5,6,7]

In [84]:
edges.head()

,edgeLabel,locationA,locationB,actualDistance,Contributer,Notes,Preference,id,base_time,additional_time
0,Nashville_tofrom_Jackson_on_I40,NashvilleTN,JacksonTN,129.0,IT,IT = the instructional team,0.029469,1,4.300000,0.294693
1,Jackson_tofrom_Memphis_on_I40,JacksonTN,MemphisTN,88.0,IT,NaN,0.098811,2,2.933333,0.988113
2,Nashville_tofrom_BowlingGreen_on_I65,NashvilleTN,BowlingGreenKY,66.0,IT,NaN,0.097122,3,2.200000,0.971222
3,Louisville_tofrom_BowlingGreen_on_I65,LouisvilleKY,BowlingGreenKY,117.0,IT,NaN,0.048185,4,3.900000,0.481846
4,Indianapolis_tofrom_Louisville,IndianapolisIN,LouisvilleKY,114.0,IT,NaN,0.073569,5,3.800000,0.735693

In [34]:
locations[locations['id'].isin(ids)]['Preference']

0    0.550798
1    0.708148
2    0.290905
3    0.510828
4    0.892947
5    0.896293
6    0.125585
Name: Preference, dtype: float64

we gotta sum the one up tho!!!

How do we select locations based on the edge ids??
get locids from edge ids???

In [35]:
col='id'

In [36]:
locations[locations[col].isin(ids)]

,Location Label,Latitude,Longitude,Contributer,Notes,Preference,id
0,NashvilleTN,36.174465,-86.767960,IT,IT = the instructional team,0.550798,1
1,MemphisTN,35.117500,-89.971107,IT,NaN,0.708148,2
2,JacksonTN,35.614517,-88.813947,IT,NaN,0.290905,3
3,SanJoseCA,37.338700,-121.885250,IT,NaN,0.510828,4
4,LouisvilleKY,38.252660,-85.758450,IT,NaN,0.892947,5
5,BowlingGreenKY,36.968520,-86.480800,IT,NaN,0.896293,6
6,IndianapolisIN,39.768400,-86.158060,IT,NaN,0.125585,7

we kinda found pref values for every data frame but this query has the potential to be optimized

total_preference() : 
takes values for a particular edge column : (like the labels for the visited edges), 
and the column name : (shuld be in edge)
it returns the : tot_pref=edge_pref+start_loc_pref+end_loc_pref; for every value associated with the column

In [37]:
def total_preference(values,col):
    edges_considered=edges[edges[col].isin(values)]    
    return sum(edges_considered['Preference'])+sum(locations[locations['Location Label'].isin(pd.concat([edges_considered['locationA'], edges_considered['locationB']], axis=0))]['Preference'])

In [38]:
total_preference(ids,col)

4.286155064621902

In [39]:
def time_at_location(df,time_factor,col):
    df[col] = df['Preference']*time_factor

time_at_location(locations,10,'time_at_location')

In [40]:
locations.head()

,Location Label,Latitude,Longitude,Contributer,Notes,Preference,id,time_at_location
0,NashvilleTN,36.174465,-86.767960,IT,IT = the instructional team,0.550798,1,5.507979
1,MemphisTN,35.117500,-89.971107,IT,NaN,0.708148,2,7.081478
2,JacksonTN,35.614517,-88.813947,IT,NaN,0.290905,3,2.909047
3,SanJoseCA,37.338700,-121.885250,IT,NaN,0.510828,4,5.108276
4,LouisvilleKY,38.252660,-85.758450,IT,NaN,0.892947,5,8.929470

In [41]:
x=30

In [42]:
def base_time(edges,x) :
    edges['base_time']=edges['actualDistance']/x

base_time(edges,x)
time_at_location(edges,10,'additional_time')

In [43]:
def base_time(edges,x) :
    return sum(edges['actualDistance']/x)

def time_at_location(df,time_factor):
    return sum(df['Preference']*time_factor)

def time_estimate(values,col,x):
    edges_considered=edges[edges[col].isin(values)] 
    location_considered=locations[locations['Location Label'].isin(pd.concat([edges_considered['locationA'], edges_considered['locationB']], axis=0))]
    return base_time(edges_considered,x) + time_at_location(location_considered,10) + time_at_location(edges_considered,10)

In [44]:
time_estimate(ids,col,x)

68.22821731288569

Our time estimate function considers the edges considered for these functions and returns the time estimate for these edges
our total pref takes a roadtrip and returns the pref for a given trip
we want a roadtrip function tho!!!

In [47]:
edges.head()

,edgeLabel,locationA,locationB,actualDistance,Contributer,Notes,Preference,id,base_time,additional_time
0,Nashville_tofrom_Jackson_on_I40,NashvilleTN,JacksonTN,129.0,IT,IT = the instructional team,0.029469,1,4.300000,0.294693
1,Jackson_tofrom_Memphis_on_I40,JacksonTN,MemphisTN,88.0,IT,NaN,0.098811,2,2.933333,0.988113
2,Nashville_tofrom_BowlingGreen_on_I65,NashvilleTN,BowlingGreenKY,66.0,IT,NaN,0.097122,3,2.200000,0.971222
3,Louisville_tofrom_BowlingGreen_on_I65,LouisvilleKY,BowlingGreenKY,117.0,IT,NaN,0.048185,4,3.900000,0.481846
4,Indianapolis_tofrom_Louisville,IndianapolisIN,LouisvilleKY,114.0,IT,NaN,0.073569,5,3.800000,0.735693

# Trying to Create a Anytime utility driven search algorithm

## Idea : to use A* IDS to do this with some caveats
### Create Solutions and remove the returning goal node problem with returning to solution graph -> then ask the user is shown this path
### utility : total preference of a road trip- Alpha * (distance from source node)
### this may not be the best metric as the distance from the source node decreases it might start picking nodes which away from the destination.
### pick two nodes G,S at an iteration i try to find the path between these nodes! maybe not
### set the goal node = source node

In [76]:
def expand(src) : 
    e1=edges[edges['locationB']==src][['locationA','id','base_time','additional_time','Preference']]#add a used locationB to these nodes
    e2=edges[edges['locationA']==src][['locationB','id','base_time','additional_time','Preference']]# add a used locationA to these nodes
    locations=pd.concat([e1['locationA'],e2['locationB']],axis=0)
    e3=pd.concat([e1,e2],axis=0)
    e3['Location']=locations
    return e3[['Location','id','base_time','additional_time','Preference']]
    #adjacent_edges=pd.DataFrame(data=pd.concat([edges[edges['locationB']==src][['locationA','id','base_time','additional_time','Preference']],edges[edges['locationA']==src][['locationB','id','base_time','additional_time','Preference']]], axis=0),columns=['Location','id','base_time','preference','additional_time'])
    
    #return adjacent_edges # change this to a new data frame maybe

expand('NashvilleTN')

            Location   id  base_time  additional_time  Preference
304   FortCampbellKY  305   2.056667         0.980336    0.098034
350     LivingstonTN  351   3.333333         0.504643    0.050464
356   MurfreesboroTN  357   1.166667         0.972715    0.097272
357    McMinnvilleTN  358   2.566667         0.791161    0.079116
377        GlasgowKY  378   3.300000         0.717860    0.071786
394  ElizabethtownKY  395   4.466667         0.100267    0.010027
396     MetropolisIL  397   4.933333         0.125542    0.012554
414    ChattanoogaTN  415   4.466667         0.985697    0.098570
0          JacksonTN    1   4.300000         0.294693    0.029469
2     BowlingGreenKY    3   2.200000         0.971222    0.097122
207      WatertownTN  208   1.400000         0.498805    0.049881
208      KnoxvilleTN  209   6.000000         0.070119    0.007012
213         AthensTN  214   5.633333         0.859433    0.085943
230      LexingtonTN  231   3.700000         0.594683    0.059468
231         SpartaTN  232   2.900000         0.128409    0.012841
233         AlbanyKY  234   4.366667         0.295426    0.029543
281     CookevilleTN  282   2.666667         0.021460    0.002146
285     EvansvilleIN  286   5.066667         0.295586    0.029559
326        WarriorAL  327   5.700000         0.078182    0.007818
330     HuntsvilleAL  331   3.833333         0.803205    0.080320
408         TannerAL  409   3.166667         0.751883    0.075188
409        DecaturAL  410   2.666667         0.293558    0.029356
410        ElkmontAL  411   3.166667         0.927440    0.092744
418   FayettevilleTN  419   2.966667         0.155934    0.015593

In [54]:
edges.head()

,edgeLabel,locationA,locationB,actualDistance,Contributer,Notes,Preference,id,base_time,additional_time
0,Nashville_tofrom_Jackson_on_I40,NashvilleTN,JacksonTN,129.0,IT,IT = the instructional team,0.029469,1,4.300000,0.294693
1,Jackson_tofrom_Memphis_on_I40,JacksonTN,MemphisTN,88.0,IT,NaN,0.098811,2,2.933333,0.988113
2,Nashville_tofrom_BowlingGreen_on_I65,NashvilleTN,BowlingGreenKY,66.0,IT,NaN,0.097122,3,2.200000,0.971222
3,Louisville_tofrom_BowlingGreen_on_I65,LouisvilleKY,BowlingGreenKY,117.0,IT,NaN,0.048185,4,3.900000,0.481846
4,Indianapolis_tofrom_Louisville,IndianapolisIN,LouisvilleKY,114.0,IT,NaN,0.073569,5,3.800000,0.735693

Creating the pop functionality for a priority queue

In [83]:
def generate_random_path(src,n):
    path=[]
    for i in range(n):
        #print(src)
        edges=expand(src)
        edge=edges.sample(1)
        path.append(edge.iloc[0]['id'])
        src=edge.iloc[0]['Location']
    return path      

print(generate_random_path('NashvilleTN',3))
#is true : just check how edges are supposed to work as here we have them working bi directionally which may not make sense
#ee how locations should be obtained from edges
##might need to put a direction label on an edge id

[282, 418, 418]

In [57]:
edges['locationB']=='NashvilleTN'

0      False
1      False
2      False
3      False
4      False
       ...
419    False
420    False
421    False
422    False
423    False
Name: locationB, Length: 424, dtype: bool

In [82]:
def pop_priority(frontier) : 
    tot_pref_path = lambda path : total_preference(path,'id')
    max_index=np.argmax(tot_pref_path(frontier)) # define a hueristic which takes into account distance traveled!
    return frontier.pop(max_index)


frontier=[]
for i in range(10):
    frontier.append(generate_random_path('NashvilleTN',3))
#make sure the tot_pref returns preference agnostic to the list of nodes
pop_priority(frontier)

[419, 419, 411]

In [51]:
def crow_distance(src,dest):
    src_lat=src['Latitude']
    src_long=src['Longitude']
    dest_lat=dest['Latitude']
    dest_long = dest['Longitude']
    return acos(sin(src_lat)*sin(dest_lat)+cos(src_lat)*cos(dest_lat)*cos(dest_long-src_long))*6371

In [52]:
def hueristic (path,col, alpha) : 
    src = locations[ locations['Location Label']==edges[edges[col]==path[1]]['locationA'] ]
    dest= locations[ locations['Location Label']==edges[edges[col]==path[-1]]['locationB'] ] 
    #src,dest may not be what you want!!! as you may need to check the orientation of src,dest
    return total_preference(path,'id') - alpha * crow_distance(src,dest)

In [46]:
%load_ext watermark
%watermark -v -m -p wget,pandas,numpy,openpyxl,watermark 
#needpackages and version
print("")
%watermark -u -n -t -z

Python implementation: CPython
Python version       : 3.12.0
IPython version      : 8.20.0

wget     : not installed
pandas   : 2.2.0
numpy    : 1.26.2
openpyxl : 3.1.2
watermark: 2.4.3

Compiler    : MSC v.1935 64 bit (AMD64)
OS          : Windows
Release     : 11
Machine     : AMD64
Processor   : Intel64 Family 6 Model 186 Stepping 3, GenuineIntel
CPU cores   : 12
Architecture: 64bit


Last updated: Thu Feb 01 2024 20:34:22Central Standard Time